body {
  text-align: center;
  padding: 100px;
}
h1 {
  margin: 50px;
  font-size: 36px;
}

h2 {
  margin-bottom: 40px;
}

.btn {
  margin: 20px;
  border-radius: 25px;
  width: 100px;
  height: 50px;
  font-size: 24px;
  background-color: rgb(96, 114, 217);
  border: 0px;
  color: aliceblue;
}

:hover.btn {
  background-color: rgba(96, 114, 217, 0.398);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

h3 {
  margin-top: 40px;
}
